{% extends 'tracker/base.html' %}



{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Add Transaction</h2>

        <!-- Display messages (errors or success) -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.type.label_tag }}
                {{ form.type }}
            </div>
            <div class="mb-3">
                {{ form.category.label_tag }}
                {{ form.category }}
            </div>
            <div class="mb-3">
                {{ form.amount.label_tag }}
                <div class="input-group">
                    <span class="input-group-text">₹</span>
                    {{ form.amount }}
                </div>
            </div>
            <div class="mb-3">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}